:root {
	height: 100%;
	& > body {
		position: relative;
		height: 100%;
		& > .wrapper {
			display: flex;
			flex-direction: column;
			height: 100%;
			font-family: 'Roboto';
			font-weight: 400;
			line-height: 1.42em;
			color: hsl(225, 6%, 13%);
		}
	}
}

* {
	box-sizing: border-box;
}

html, body, ul, p, h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}