- var title = 'Тестирование'

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,500,700")
		link(rel="stylesheet", href="assets/css/main.min.css")
		title #{title}
	body
		.wrapper
			main.main-page.main-page__index
				header.header
					h1.title Гонки
					button#btn-start Старт
				section.app#root
				.popup#popup
					.container
						h2.title Результат гонки
						.result
							.header
								.caption Место
								.caption Имя
								.caption Время
							ul.result__list#result__list
						.actions
							button#btn-reload Начать заново

		script(type="text/javascript" src="assets/js/main.js")