include ../helpers/_images

.general-slider#general-slider
	include ./buttons/_arrow-left
	.container#general-slider__container
		ul.list
			each image in images
				li.general-slider__item#general-slider__item
					.content(style=`background-image: url(${image.src})`)
	include ./buttons/_arrow-right