include ../helpers/_images

.general-slider#general-slider
	button.btn__prev Назад
	.container#general-slider__container
		ul.list
			each image in images
				li.item#general-slider__item
					.content(style=`background-image: url(${image.src})`)
	button.btn__next Вперед