.general-slider {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	& > button {
		flex-shrink: 0;
		&.btn__arrow-left {
			margin-left: 24px;
		}
		&.btn__arrow-right {
			margin-right: 24px;
		}
	}
	& > .container {
		flex-grow: 1;
		position: relative;
		overflow: hidden;
		height: 100%;
		& > .list {
			position: relative;
			z-index: 1;
			height: 100%;
			display: flex;
			transform: translateX(0);
			transition-duration: .5s;
			transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
			transition-property: transform;
			& > .general-slider__item {
				flex-shrink: 0;
				height: 100%;
				padding-left: 8px;
				padding-right: 8px;
				display: flex;
				width: 100%;
				& > .content {
					flex-grow: 1;
					height: 100%;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.general-slider {
		& > button {
			display: none;
		}
	}
}