.main-page__index {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	& > .section {
		padding: 16px;
		max-width: 1200px;
		min-width: 320px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}